<p>product-edit works!</p>
<div class="container">
    <!-- {{ productFormGroup.value|json }} -->
    <form [formGroup]="productFormGroup">
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" class="form-control" formControlName="id">

            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name"
                [ngClass]="{'is-invalid': submitted && productFormGroup.controls.name.errors}">
            <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">

                <div *ngIf="productFormGroup.controls.name.errors.required">Name is Required</div>
            </div>

        </div>
        <div class="form-group">

            <label for="">Price</label>
            <input type="text" class="form-control" formControlName="price">

        </div>
        <div class="form-group">

            <label for="">Qauntity</label>
            <input type="text" class="form-control" formControlName="quantity">

        </div>
        <div class="form-group">

            <label for="">Selected</label>
            <input type="checkbox" formControlName="selected" class="for-check">

        </div>
        <div class="form-group">

            <label for="">Available</label>
            <input type="checkbox" formControlName="available" class="for-check">

        </div>
        <button class="btn btn-success" (click)="onUpdateProduct()">Save</button>
    </form>

</div>